<div class="container mt-5">
    <!-- Banner Section -->
    <div class="row">
      <div class="col-12">
        <div class="jumbotron p-5 bg-light banner-section">
          <div class="text-content text-center text-md-end">
            <h1 class="display-4">Welcome to Our Store!</h1>
            <p class="lead">Find the best deals on your favorite products.</p>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Features Section -->
    <div class="row mt-5">
      <div class="col-lg-6 col-md-12">
        <div class="feature-text">
          <h3>Our Main Features</h3>
          <p>
            Our features are designed to cater to the needs of everyone. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti autem nesciunt laudantium distinctio impedit fuga voluptates at dolor nemo doloribus ipsa, quae quia? Eligendi suscipit deserunt, quasi ab quisquam voluptatem!
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 text-center">
        <img src="https://img.freepik.com/premium-photo/shopping-online-by-smartphone-application_220701-22.jpg?w=1380" 
             alt="Ecommerce Feature" 
             class="img-fluid feature-image">
      </div>
    </div>
  </div>
  