.banner-section {
  background-image: url('https://img.freepik.com/premium-photo/shopping-online-online-payment-concept-3d-illustration-marketing_311128-190.jpg?w=1380');
  background-size: cover;
  background-position: center;
  color: #e7663f;
  height: 500px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.text-content {
  max-width: 50%;
  margin-right: 2rem;
  color: #e7663f;
  font-weight: bold;
}

@media (max-width: 768px) {
  .text-content {
    max-width: 100%;
    margin-right: 0;
    text-align: center;
  }

  .banner-section {
    align-items: center;
    height: 300px;
  }
}

.feature-image {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

.feature-text h3 {
  color: #333;
  margin-bottom: 1rem;
}

.feature-text p {
  color: #555;
  line-height: 1.6;
}

@media (max-width: 992px) {
  .feature-text,
  .feature-image {
    text-align: center;
  }
}
